@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, monospace;
    background-color: #1ce8ff;
}

.pergunta {
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 16px;
    background-color: #FCC302;
    font-size: 18px;
    text-align: center;
}
   
.alternativas {
    margin-top: 10px;
    width: 100%;
    padding: 10px 10px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 16px;
    background-color: #ff8000;
    font-size: 18px;
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: auto;
    padding: 100px;
    
}

.container-inteiro {
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 10px;
}

nav {
    width: 100%;
    float: right;
}

img {
width: 150px;
float: left;
}

nav ul {
    float: right;
    margin-top: 25px;
    
}

nav ul li {
    display: inline;
    list-style: none;
    padding-right: 20px;
    padding: 35px 15px;

}
ul li a {
    text-decoration: none;
    text-transform: uppercase;
}



.center {
    text-align: center;
}

.vertical-center a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #0e4902;
    padding: 5px 15px;
    border-radius: 25px;
    text-decoration: none;
    color: rgb(0, 0, 0);

    animation: iniciar 1s none;
}

.vertical-center a:hover {
    background-color:#410BE3;
}

div.continuar {
    margin-top: 20px;
}

div.continuar a {
    text-decoration: none;
    background-color: #ffef12;
    padding: 5px 15px;
    border-radius: 25px;
    text-decoration: none;
    color: rgb(0, 0, 0);

}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.4;
}

@keyframes iniciar {
    0% {
        top: 0%;
    }
    100% {
        top: 50%;
    }
}
.responder input[type=submit] {
    border-radius: 5px;
    border: 2px solid #000000;
    background-color: #676569;
    color: #ffffff;
    height: 30px;
    width: 96px;
  }

h1 img {
    width: 150px;
    border-radius: 100%;
}

.btn {
    color: black;
    background-color: #ba55d3;
    padding: 5px;
    min-width: 100px;
    border: 2px solid #000;
    text-decoration: none;
}

.btn-contraste {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
h1 {
    text-align: center;
    background-color:#15f375;
}
